*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex; /*сделали флексом*/
  justify-content: center; /*расположили контент по центру по горизонтали*/
  align-items: center; /*по вертикали*/
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-areas: "result details";
  gap: 30px; /*задали расстояние между колонками*/
  align-items: end; /* выровняли элементы по вертикальной оси, прижали их к низу контейнера*/
  width: 100%;
  align-self: center;
  margin-left: 30px;
  /*margin: 30px 133px 30px 133px;*/
}

.result {
  grid-area: result; /*дали название области 1/2*/
  margin-bottom: 2px;
}

.search-form {
  display: flex; /*сделали флексом чтоб*/
  flex-direction: row; /*расположить элементы по горизонтали*/
  align-items: flex-end; /*прижали к началу контейнера по вертикали*/
  width: 100%;
  justify-content: space-between;
  cursor: pointer;
}

.content__list-container {
  height: 298px; /*задали высоту*/
  overflow-y: auto; /*добавили скролл*/
  /*margin-top: auto;*/
  position: relative; /*вырываем видео из потока позиционированием для родителя*/
}

.content__details {
  grid-area: details; /*дали название области 2/2*/
  display: flex;
  flex-direction: column;
  /*justify-content: space-between; под вопросом*/
  width: 100%; /*растянули на всю высоту/ширину*/
  height: 100%;
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
  position: relative; /*вырываем видео из потока позиционированием для родителя*/
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* заполнит контейнер полностью, сохраняя пропорции */
  object-position: center; /*рекомендуется при использовании  obgect-position*/
  display: block; /* убираем лишние отступы */
}

.content__list {
  display: flex;
  flex-direction: column; /* сделали флекс контейнером с колонкой, чтоб задать гэп между элементами*/
  gap: 30px;
}

.content__video-card {
  display: grid;
  grid-template-columns: 196px 194px; /*задала значения дляя секций, так как если первой не задать ширину не сработает троеточие, когда текст не влезает, и для видео ограничили размер*/
  align-items: start;
}

.content__video-card-thumbnail {
  width: 100%;
  height: 103px;
  object-fit: cover; /* заполнит контейнер полностью, сохраняя пропорции */
  object-position: center; /*рекомендуется при использовании  obgect-position*/
}

.content__video-card-description-container {
  flex-grow: 1; /*занимает все оставшееся пространсво, а видео задаем жесткие рамки*/
}

.title {
  margin-bottom: 26px;
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 6px;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none; /*отменили подчеркивание ссылок у названий городов*/
  color: #fff;
  cursor: pointer;
}

.search-form__fieldset-title {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  margin-bottom: 5px;
}

.content__video-card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  text-wrap: nowrap; /* запретили переносить строки */
  overflow: hidden; /* скрыли лишнее */
  text-overflow: ellipsis; /* добавляем "…" */
  margin-bottom: 4px;
}

.content__video-card-description {
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 16.5px;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* число строк, после которых обрезать */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__list-item:last-child {
  margin-bottom: 30px; /* последней карточке дали отступ */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.button {
  display: inline-block;
  border: 1px solid white;
  color: inherit;
  font-family: inherit;
  font-weight: 700;
  font-size: inherit;
  line-height: 21.6px;
  background-color: transparent;
 /* outline: none;  убираем стандартную обводку в фокусе */
  cursor: pointer; /*кликабельность*/
}

button:focus {
  outline: none; /* убираем стандартную обводку в фокусе */
}

button:hover {
  text-decoration: underline; /*при наведении кнопка подчеркивается*/
}

button:active {
  background-color: rgba(84, 80, 80, 1); /* активное состояние цвет */ 
  text-decoration: none;
}

button:focus-visible {
  outline: 1px solid white; /*обводка при фокусе с клавиатуры*/
  outline-offset: 1px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.search-form__submit-button {
  align-self: end;
  min-width: 194px;
  padding: 6px 73.5px; /*стилизовали кнопку поиска*/
  /*width: 100%;*/
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content; /*ограничивает ширину по содержимому, чтоб не растянуть label*/
  cursor: pointer;
  appearance: none;
  height: 27px;
}

/*поле ввода текста город*/
.search-form__textfield {
  min-width: 225px;
  border-top: solid 1px white;
  border-right: none;
  border-bottom: solid 1px white;
  border-left: none;
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  /*line-height: 21.6px;*/
  background-color: transparent;
}

.search-form__textfield:focus {
  outline: none; /*сбросить обводку в состоянии фокуса*/
  appearance: none; /* сброс браузерного оформления */
}

/* фокус появляется только при клавиатурной навигации на полле ввода*/
.search-form__label:has(:focus-visible) {
  outline: solid 1px white;
  outline-offset: 2px; /*отступ до обводки*/
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
  padding-bottom: 4px;
}

.search-form__checkbox {
  border: 1px solid white; /*обычное состояние обводка*/
}

.search-form__pseudo-checkbox {
  display: flex;
  align-items: center; /* выравниваем квадрат по центру*/
  justify-content: center;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__pseudo-checkbox::after {
  content: "";
  width: 15px; /*маленький белый квадрат при выборе*/
  height: 15px;
  background-color: white;
  display: none;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  display: block; /*белый квадрат при выборе чек бокса*/
}

.search-form__label-text {
  color: #ffffff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21.6px;
  background-color: transparent;
  appearance: none; /* убираем дефолтное оформление */
  outline: none; /* убираем стандартную обводку в фокусе */
}


.search-form__label:hover .search-form__label-text {
  text-decoration: underline; /*при наведении на чекбокс, на любую точку лейбла, у текста появлялось подчёркивание*/
}

.more-button {
  width: 100%;
  padding: 6px 142px;
}

.content__card-link_current {
  background-color: rgba(84, 80, 80, 1);
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
  outline-offset: 1px;
  background-color: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:active {
  background-color: rgba(84, 80, 80, 1);
  text-decoration: none;
}

.content__list-item {
  padding-left: 3px;
  padding-right: 3px;
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}
